@if (adjacentPosts | async; as adjacentPosts) {
    <div class="post-nav-row">
        <div class="post-nav-card">
            @if (adjacentPosts.get('previousPost')) {
                <mat-card (click)="navigateToPost(adjacentPosts.get('previousPost')!)">
                    <mat-card-content>
                        <div class="mat-subtitle-2 post-nav-label">
                            <mat-icon>arrow_back</mat-icon>
                            Previous
                        </div>
                        <h3>
                            {{ adjacentPosts.get('previousPost')!.headline }}
                        </h3>
                    </mat-card-content>
                </mat-card>
            }
        </div>
        <div class="post-nav-card">
            @if (adjacentPosts.get('upcomingPost')) {
                <mat-card (click)="navigateToPost(adjacentPosts.get('upcomingPost')!)">
                    <mat-card-content>
                        <div class="mat-subtitle-2 post-nav-label">
                            Up next
                            <mat-icon>arrow_forward</mat-icon>
                        </div>
                        <h3>
                            {{ adjacentPosts.get('upcomingPost')!.headline }}
                        </h3>
                    </mat-card-content>
                </mat-card>
            }
        </div>
    </div>
}