mat-icon {
  color: white;
}

.filter-button {
  position: fixed;
  margin-top: 500px;
  right: 5px;
  top: 20px;
  z-index: 2;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}