mat-icon {
  color: white;
}

.filter-button {
  position: fixed;
  margin-top: 240px;
  right: 5px;
  top: 20px;
  z-index: 2;
}

@media (max-width: 800px) {
  .filter-button {
    margin-top: 500px;
  }
}
