<div class="container d-flex flex-column col-lg-6 col-sm-12">
  <mat-card class="p-4">
    <div>
      <h1 class="col-6">About me</h1>
      <img
        src="./assets/images/profile.jpeg"
        alt="The author's profile image" />
      <p>
        I'm Jan, working as full-stack software engineer and have collected
        quite some experience with <span>Typescript</span>,
        <span>Python</span> and <span>Kotlin</span>. At the moment, I am
        particularly interested in <span>Angular</span>, RxJS with a neck for
        clean, well-tested code.
      </p>
      <p>
        Although I enjoy working with the web technology stack a lot, I am quite
        keen to specialise more on <span>artificial intelligence</span>,
        corresponding Python stack, especially <span>Tensorflow</span>. I'll
        compose a range of blog posts about the approaches I have taken so far
        solving problems with artificial intelligence.
      </p>
      <p>
        Regardless of the technology, I strive for implementing elegant code,
        that is easy to understand and extend. In the end, every great piece of
        software gets written by a great team, with members that all bring in
        their unique abilities and styles. I like to learn, share and challenge
        solutions to excellent outcomes.
      </p>
      <h1>My Journey</h1>
      <p>
        I was born in 1993 and raised in a tiny village in the centre of
        Germany. As there was not too much stuff to do there, I developed an
        interest in technology and coding fairly early on. After finishing high
        school, I decided to study information systems at the university of
        Münster which offered an excellent program combining elements of
        computer science and business administration.
      </p>
      <p>
        After completing my bachelor's degree, I was a bit indecisive whether to
        switch to computer science or not. However, I decided to pick a rather
        unusual combination of subjects reaching deep into computer science on
        the hand and getting exposure to advanced finance topics on the other
        hand allowing me to go for a master's degree in information system. As
        part of my master's study, I got the opportunity to study abroad in the
        small, yet beautiful Kristiansand, Norway and the buzzing metropolis
        Madrid, Spain.
      </p>
      <p>
        I graduated from university in 2019 and decided to gain some experience
        in the financial industry, first by completing a trainee programme and
        than working at associate engineer. Since than, I improved my software
        development skills significantly, gained experience working in a very
        international environment and contributed to a rather diverse set of
        applications.
      </p>
    </div>
  </mat-card>
</div>
