h1 {
  text-align: left;
}

p {
  line-height: 175%;
  text-align: justify;
  color: #1d1d1f;
  font-weight: 300;
}

span {
  background: linear-gradient(43deg, #2d693b 0%, #88bf61 50%, #f2e447 100%);
  background-clip: text;
  font-weight: 400;
  -webkit-text-fill-color: transparent;
}

img {
  margin-top: 10px;
  margin-left: 20px;
  float: right;
  width: 39%;
}
