<app-page-title [pageTitle]="pageTitle"></app-page-title>

<div *ngIf="seriesTitles | async as seriesTitles">
  <div *ngFor="let title of seriesTitles" class="col-12">
    <div class="container d-flex flex-column col-lg-9 col-sm-12">
      <h1>{{ title }}</h1>
    </div>
    <app-post-list category="course" [series]="title"></app-post-list>
  </div>
</div>

<div class="container d-flex flex-column col-lg-9 col-sm-12">
  <h1>Miscellaneous</h1>
</div>
<app-post-list category="course" series="misc"></app-post-list>
