button {
  color: white;
  background: transparent;
  font-weight: 300;
  font-size: 30px;
}

.card-container {
  height: 60%;
  width: 82%;
  margin-left: 20%;
  margin-top: 125px;
  position: absolute;
  overflow: scroll;
}

.add-button {
  margin-left: calc(50% - 56px / 2);
  color: white;
  background: transparent;
  font-weight: 300;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  background: linear-gradient(
    to right bottom,
    rgb(218, 163, 100),
    rgb(200, 63, 100)
  );
  z-index: 12;
}

.update-button {
  margin-left: calc(50% - 56px / 2);
  color: white;
  background: transparent;
  font-weight: 300;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  margin-right: 125px;
  background: linear-gradient(
    to right bottom,
    rgb(218, 163, 100),
    rgb(200, 63, 100)
  );
  z-index: 12;
}

.delete-button {
  margin-left: calc(50% - 56px / 2);
  color: white;
  background: transparent;
  font-weight: 300;
  font-size: 24px;
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 50px;
  margin-right: 200px;
  background: linear-gradient(
    to right bottom,
    rgb(218, 163, 100),
    rgb(200, 63, 100)
  );
  z-index: 12;
}

.add-button .mat-icon {
  margin-top: -6px;
  margin-left: -6px;
  font-size: 28px;
}

.button-container {
  position: absolute;
  margin-left: 10%;
  margin-top: 120px;
  width: 500px;
}

.large-button {
  height: 100px;
  width: 500px;
  margin-bottom: 5px;
  font-weight: 100;
}

h1 {
  margin: auto;
  margin-top: 50px;
  position: absolute;
  text-align: center;
  font-size: 48px;
  color: white;
  margin-left: 10%;
  font-weight: 100;
}

h2 {
  margin: auto;
  margin-top: 60px;
  position: absolute;
  text-align: center;
  font-size: 48px;
  color: white;
  margin-left: 10%;
  font-weight: 100;
}

mat-card {
  margin: auto;
  margin-top: 120px;
  margin-left: calc(10%);
  width: 600px;
  position: absolute;
  background: transparent;
}
