h3 {
  font-size: 33px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

img {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 0;
}

.mat-mdc-card {
  box-shadow: none !important;
  background-color: var(--menu-background-color);
}

.mat-mdc-card:hover {
  cursor: pointer;
  background-color: var(--menu-background-color-active);
}

.post-nav-row {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.post-nav-card {
  width: 400px;
}