button {
  font-size: 24px;
  color: var(--text-color) !important;
}

img {
  margin-top: 10px;
  height: 38px;
  width: 20px;
  border-radius: 0;
}

.icon {
  font-size: 24px !important;
  width: 36px;
  color: var(--text-color) !important;
}

h3 {
  font-size: 33px !important;
  padding-top: 0 !important;
  margin-top: 0 !important;
}

.mat-mdc-card {
  background-color: var(--menu-background-color);
}

.mat-mdc-card:hover {
  cursor: pointer;
  background-color: var(--menu-background-color-active);
}

.post-nav-row {
  display: flex;
  gap: 24px;
  margin-bottom: 40px;
}

.post-nav-card {
  width: 400px;
}