img {
  width: 100%;
  margin: 0px;
  z-index: -1 !important;
}

span {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.title {
  font-weight: 300;
  padding: None;
  line-height: normal;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  height: 60px;
  width: 200px;
  margin-top: 24px;
  margin-bottom: 10px;
}

.headline {
  width: 250px
}

.wrapper {
  width: 800px;
  margin: auto;
}

.date {
  padding: 0;
  margin: 0;
  width: calc(250px - 20px);
  margin: auto;
  text-align: center;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 8px;
}

.mat-grid-tile-content {
  margin: 0px;
  padding: 0px;
}

.mat-card {
  height: 250px;
  width: 250px;
  line-height: 1.5;
  font-weight: 100;
  color: #616161;
  font-size: 16px;
  border: None;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
  padding: 0px !important;
  margin-top: -31px;
  text-align: center;
}

.mat-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transform: scale(1.02);
}

.mat-card-title {
  font-size: 24px;
  text-align: center;
}

.mat-card-content {
  height: 200px;
  border-color: #000 transparent transparent transparent;
  border-radius: 99%/50px 50px 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: white;
  padding: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
  margin-top: -31px;
  position: relative;
}

@media (max-width: 768px) {
  .mat-grid-tile {
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }

  .mat-card-content {
    border-color: #000 transparent transparent transparent;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
    margin-top: -30px;
    position: relative;
  }

  .mat-grid-tile-content {
    margin: 0px;
    padding: 0px;
  }
}
