.title {
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: None;
    line-height: normal;
}

.mat-card {
    width: 300px;
    margin: auto;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    color: #ffffff !important;
    font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 16px;
    letter-spacing: -.022em;
    border: None;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
    padding: 0px;
}

@media(max-width: 768px) {
    .mat-card {
        width: 90%;
        margin: auto;
        line-height: 1.47059;
        font-weight: 400;
        color: #ffffff !important;
        font-family: SF Pro Text,SF Pro Icons,AOS Icons,Helvetica Neue,Helvetica,Arial,sans-serif;
        letter-spacing: -.022em;
        border: None;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
        padding: 0px;
    }

    .mat-grid-tile-content {
        padding-top: 60px !important;
        margin: 0px;
        padding: 0px;
    }

    .mat-grid-list {
        margin: 0px;
        padding: 0px;
        padding-top: 0px !important;
    }

    .mat-grid-tile {
        margin: 0px;
        padding: 0px;
        padding-top: calc(100%) !important;
        padding-bottom: 0px !important;
    }
}
.mat-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.02);
}

.mat-card-content {
    height: 200px;  
    border-color: #000 transparent transparent transparent;
    border-radius: 95%/100px 100px 0 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  20px;
    background: linear-gradient(196deg, rgba(133, 78, 33, 0.597) 0%, rgb(61, 23, 8) 100%);
    padding: 10px;
    padding-top: 40px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
}

markdown {
    color: #ffffff !important;
}

.mat-card-title {
    text-align: center;
}

.mat-card-image {
    height: 50%;
    width: 50%;
    transform: scale(0.7);
    margin-left: 25%;
    padding-top: 40px;
}

h1{
    border: None !important;
}