.title {
  font-weight: 300;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 28px !important;
}

.mat-mdc-card {
  line-height: 1.5;
  font-weight: 100;
  color: rgb(51, 51, 51);
  text-align: center;
}

.mat-mdc-card:hover {
  transform: scale(1.02);
  cursor: pointer;
}

.mat-mdc-card-content {
  border-radius: 99%/50px 50px 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(255, 255, 255);
  margin-top: -31px;
  position: relative;
}
