img {
    width: 100%;
    margin: 0px;
    z-index: -1 !important;
}

span {
    font-size: 20px;
}

.title {
    font-weight: 100;
    margin-top: 30px;
    margin-bottom: 0px;
    padding: None;
    line-height: normal;
}

.mat-grid-tile {
    height: 500px;
    padding-top: 20px !important;
    padding-bottom: 20px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.mat-card {
    height: 340px;
    width: 400px;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    font-weight: 500;
    color: #ffffff !important;
    font-family: SF Pro Text;
    font-size: 16px;
    letter-spacing: -.022em;
    border: None;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
    padding: 0px !important;
    margin-bottom: 100px;
}

.mat-card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    transform: scale(1.02);
}

.mat-card-title {
    font-size: 30px;
    padding-top: 10px;
    text-align: center;
}

.mat-card-content {
    height: 200px;  
    border-color: #000 transparent transparent transparent;
    border-radius: 99%/50px 50px 0 0;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  20px;
    background: linear-gradient(196deg, rgb(174, 147, 125) 0%, rgb(55, 25, 12) 100%);
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
    margin-bottom: 20px !important;
    margin-top: -29px !important;
    position: absolute;
    z-index: 10 !important;
    opacity: 1 !important;
}

@media(max-width: 768px) {
    .mat-grid-tile {
        height: 500px;
        padding-top: 0px !important;
        padding-bottom: 20px !important;
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .mat-card {
        height: 400px;  
        width: 95%;
        margin: auto;
        line-height: 1.47059;
        font-weight: 400;
        color: #ffffff !important;
        font-family: SF Pro Text;
        letter-spacing: -.022em;
        border: None;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        border-radius: 10px;
        transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
    }

    .mat-card-content {
        height: 200px;  
        border-color: #000 transparent transparent transparent;
        border-radius: 99%/50px 50px 0 0;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius:  20px;
        background: linear-gradient(196deg, rgb(174, 147, 125) 0%, rgb(55, 25, 12) 100%);
        padding: 10px;
        padding-top: 20px;
        padding-bottom: 0px;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
        margin-bottom: 20px !important;
        margin-top: -29px !important;
        position: absolute;
        z-index: 10 !important;
        opacity: 1 !important;
    }

    .mat-grid-tile-content {
        margin: 0px;
        padding: 0px;
    }

    .mat-grid-list {
        margin: 0px;
        padding: 0px;
        padding-top: 0px !important;
    }

    .mat-grid-tile {
        margin: 0px;
        padding: 0px !important;;
        padding-bottom: 0px !important;
    }
}