<app-filter (topicSelected)="selectTopic($event)"></app-filter>
<div class="container d-flex flex-column col-lg-6 col-sm-12">
  <div class="d-flex justify-content-center">
    <h1>
      {{ selectCategory() | async }}
    </h1>
  </div>
  <div class="row gx-4">
    <div
      *ngFor="let post of posts"
      class="col-sm-12 col-md-6 col-lg-6 col-xl-4 mb-4">
      <mat-card (click)="showPost(post)" class="h-100">
        <img mat-card-image [src]="post.thumbnail" />
        <mat-card-content>
          <div class="mt-1 justify-content-center">
            {{ post.date | date }}
          </div>
          <mat-card-title class="mt-1 mb-1 title">
            {{ post.headline }}
          </mat-card-title>
          <span class="summary">
            {{ post.summary }}
          </span>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
