p {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

span {
  font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

img {
  width: 100%;
  margin: 0px;
}

span {
  font-weight: 300;
  font-size: 16px;
  text-align: center;
}

.title {
  font-weight: 300;
  padding: None;
  line-height: normal;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: auto;
  height: 60px;
  width: 200px;
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 28px !important;
  padding-bottom: 6px;
}

.headline {
  width: 250px;
  font-size: 42px !important;
}

.wrapper {
  width: 800px;
  margin: auto;
}

.date {
  padding: 0;
  margin: 0;
  width: calc(250px - 20px);
  margin: auto;
  text-align: center;
  font-size: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin-bottom: 8px;
}

.mat-grid-tile-content {
  margin: 0px;
  padding: 0px;
}

.mat-mdc-card {
  height: 320px;
  width: 250px;
  line-height: 1.5;
  font-weight: 100;
  color: #616161;
  font-size: 16px;
  border: None;
  border-radius: 10px;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
  padding: 0px;
  margin-top: -31px;
  text-align: center;
}

.mat-mdc-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transform: scale(1.02);
}

.mat-mdc-card-title {
  font-size: 24px;
  text-align: center;
}

.mat-mdc-card-content {
  height: 200px;
  border-color: #000 transparent transparent transparent;
  border-radius: 99%/50px 50px 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: rgb(255, 255, 255);
  padding: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
  margin-top: -31px;
  position: relative;
}

@media (max-width: 768px) {
  .mat-grid-tile {
    padding-top: 0px;
    padding-bottom: 60px;
    padding-left: 0px;
    padding-right: 0px;
  }


  .mat-grid-tile-content {
    margin: 0px;
    padding: 0px;
  }
}
