<div class="row gx-4">
  <div class="col-lg-4 col-sm-12 mb-4">
    <mat-card class="p-2 h-100" (click)="navigateToTopic('guides')">
      <h2 class="guides">🧑🏼‍💻</h2>
      <h1>Guides</h1>
      <p>Learn about software development and best practices</p>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-12 mb-4">
    <mat-card class="p-2 h-100" (click)="navigateToTopic('series')">
      <h2 class="series">☕️</h2>
      <h1>Series</h1>
      <p>Explore longer projects, panning across mutlipe posts</p>
    </mat-card>
  </div>
  <div class="col-lg-4 col-sm-12 mb-4">
    <mat-card class="p-2 h-100" (click)="navigateToTopic('productivity')">
      <h2 class="productivity">⚙️</h2>
      <h1>Productivity</h1>
      <p>Take a look at posts beyond software development</p>
    </mat-card>
  </div>
</div>
