button {
  font-weight: 100;
  font-size: 24px;
  color: rgb(64, 72, 76) !important;
}

img {
  margin-top: -5px;
  width: 20px;
  opacity: 0.8;
  border-radius: 0px;
  filter: grayscale(100%);
}

.mat-mdc-card:hover {
  transform: scale(1.02);
}

.mat-icon {
  transform: scale(1.4);
}
