<div class="col-12">
  <mat-card class="p-4">
    <div class="row">
      <h1 class="col-lg-3 col-sm-6">Links</h1>
      <div class="row">
        <div class="col-lg-12 col-sm-12">
          <button type="button" mat-button *ngFor="let link of links" (click)="openLink(link.url)">
            <mat-icon *ngIf="link.name === 'About me'">account_circle</mat-icon>
            <img *ngIf="link.name !== 'About me'" src="{{ link.iconPath }}" alt="Link to {{ link.iconPath }}" />
            {{ link.name }}
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>