h1 {
  text-align: left;
  background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 20px;
  padding: 0px;
  line-height: normal;
  width: 300px;
}

h2 {
  text-align: left;
  font-weight: 300;
  font-size: 28px;
  line-height: normal;
  background: none;
  text-align: justify;
  background-clip: text !important;
  -webkit-text-fill-color: none !important;
  color: rgb(79, 79, 79) !important;
  line-height: 150%;
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
  font-weight: 100;
  font-family: "Roboto";
}

img {
  width: 100%;
  border-radius: 10px;
}

.mat-mdc-card {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 860px;
  height: flex;
  border-radius: 40px;
  line-height: 1.47059;
  -webkit-font-smoothing: antialiased;
  padding: 30px;
  color: #1d1d1f;
  letter-spacing: -0.022em;
  border: None;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  line-height: 1.47059;
  -webkit-font-smoothing: antialiased;
  font-weight: 500;
  letter-spacing: -0.022em;
  border: None;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
  margin-bottom: 20px !important;
}

@media (max-width: 768px) {
  .mat-mdc-card {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: flex;
    padding: 150px;
    padding: 30px;
    font-weight: 500;
    color: #1d1d1f;
    letter-spacing: -0.022em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;    
    letter-spacing: -0.022em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
  }
}

.mat-mdc-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.005);
}

@media (max-width: 768px) {
  h1 {
    line-height: normal !important;
  }
}

.wrapper {
  width: 800px;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.introduction {
  width: 480px;
  float:left; 
  margin: auto;
  margin-right: 20px;
}

.profile-image {
  width: 300px;
  float:left; 
  margin: auto;
  margin-top: 30px;
}

.placeholder {
  height: 20px;
}