<mat-card appearance="outlined">
  <div class="wrapper">
    <div class="introduction">
      <h1>Hi, I'm Jan.</h1>
      <h2>
        I like to share a few ideas around coding and productivity. Please, grab
        a coffee and feel free to go through some of my posts.
      </h2>
      <p></p>
    </div>
    <div class="profile-image">
      <img src="./assets/images/profile.png" />
    </div>
  </div>
</mat-card>

<app-topics></app-topics>

<app-links></app-links>

<div class="placeholder"></div>
