h2 {
  border-radius: 30px;
  transition: box-shadow 0.25s, margin-top 0.25s, width 0.25s, height 0.25s,
    transform 0.25s;
  font-size: 24px !important;
}

h2:hover {
  box-shadow: rgba(60, 60, 60, 0.35) 0px 5px 15px;
  cursor: pointer;
  transform: scale(1.02);
}

.headline {
  font-size: 36px !important;
}
