.page-title-card {
  min-height: 350px;
  box-shadow: none;
  margin: 1em;
}

h1 {
  padding-top: 40px;
  line-height: 110%;
  font-size: 96px !important;
  padding-bottom: 10px;
  margin: 30px 30px 0;
  text-align: center;
}

p {
  padding-bottom: 10px;
  margin: 0px 30px 50px;
  text-align: left;
  font-size: 28px !important;
  line-height: 150%;
}

@media (max-width: 599px) {
  h1 {
    font-size: 42px !important;
  }

  p {
    font-size: 18px !important;
  }
}

img {
  border-radius: 20px;
  margin: 0 !important;
  padding-top: 0 !important;
}

.guides {
  background: radial-gradient(ellipse at top left, rgb(84	141	76	), rgb(137	186	114	));
}

.recommendations {
  background: radial-gradient(ellipse at top left, rgb(0	195	218	), rgb(255	221	107));
}

.course {
  background: radial-gradient(ellipse at top left, rgb(255, 121, 93), rgb(246	198	116	));
}

.about {
  background: radial-gradient(ellipse at top left, rgb(0	152	175	), rgb(107	209	110	));
}

.engineering {
  background: radial-gradient(ellipse at top left, #2c426b, #6489b6);
}
