h1 {
  padding-top: 40px;
  line-height: 110%;
  font-size: 96px !important;
  padding-bottom: 10px;
  margin: 30px 30px 0;
  text-align: center;
}

p {
  padding-bottom: 10px;
  margin: 0 30px 50px;
  text-align: left;
  font-size: 28px !important;
  line-height: 150%;
}

.landing-title-actions {
  color: black;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  width: 100%;
}

button {
  font-size: 26px;
  font-weight: 400;
  height: 68px !important;
  border-radius: 100px !important;
  margin-top: -10px;
  margin-bottom: 20px;
}

.page-title-card {
  min-height: 350px;
  box-shadow: none;
  margin: 1em;
  background: radial-gradient(ellipse at top left, #2c426b, #6489b6);
}

@media (max-width: 599px) {
  h1 {
    font-size: 48px !important;
  }

  p {
    font-size: 18px !important;
  }
}
