.mat-mdc-card {
  min-height: 500px;
  box-shadow: none;
}

h1 {
  line-height: 110%;
  font-weight: 400 !important;
  font-size: 96px !important;
  margin-bottom: 0;
  padding-bottom: 10px;
}

h2 {
  text-align: left;
  font-size: 28px !important;
  line-height: 150%;
  padding-top: 0px;
}

button {
  font-size: 26px;
  font-weight: 400;
  height: 68px !important;
  border-radius: 100px !important;
}

.landing {
  background: radial-gradient(ellipse at top left, #2c426b, #6489b6);
}

@media (max-width: 600px) {
  .mat-mdc-card {
    min-height: 200px;
    background-position: center;
    box-shadow: none;
  }

  h1 {
    line-height: 100%;
    font-weight: 400;
    font-size: 58px !important;
    margin-left: 10px;
    margin-bottom: 0px;
  }
  
  h2 {
    text-align: left;
    font-size: 18px !important;
    line-height: 150%;
    margin: 10px;
  }

  button {
    margin-top: -10px;
    margin-bottom: 20px;
  }
}
