h3 {
  text-align: left;
  font-size: 34px;
  word-break: break-word;
  margin-bottom: 16px;

  @media (max-width: 599px) {
    font-size: 28px;
  }
}

p {
  text-align: left;
  font-size: 20px !important;
  word-break: break-word;
}

@media (max-width: 599px) {
  h1 {
    font-size: 28px;
  }

  p {
    font-size: 16px !important;
  }
}

.mat-mdc-card {
  text-align: center;
  background-color: var(--menu-background-color);
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

mat-card {
  @media (max-width: 599px) {
    height: 95%;
  }
}

.post-image {
  height: 80%;
  width: 100%;

  @media (max-width: 599px) {
    height: 80%;
  }
}

.content {
  height: 180px;
  margin: 0;

}

.mat-mdc-card:hover {
  cursor: pointer;
  background-color: var(--menu-background-color-active);
}
