h3 {
  text-align: left;
  font-size: 38px !important;
  word-break: break-word;
}

p {
  text-align: left;
  font-size: 20px !important;
  word-break: break-word;
}

.mat-mdc-card {
  text-align: center;
  background-color: var(--menu-background-color);
  box-shadow: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.post-image {
  padding-top: -43 !important;
  height: 80%;
  width: 100%;
}

.content {
  height: 180px;
  margin: 0;
}

.mat-mdc-card:hover {
  cursor: pointer;
  background-color: var(--menu-background-color-active);
}
