<mat-toolbar class="main-menu">
  <button type="button" class="title" (click)="switchToLandingPage()">
    Jan Schumann
  </button>
  <span class="spacer"></span>

  <span class="desktop-menu" *ngFor="let item of items">
    <button
      type="button"
      mat-button
      class="menu-button"
      (click)="navigateToMenuEntry(item)">
      {{ item.icon }} {{ item.name }}
    </button>
  </span>

  <button
    type="button"
    class="mobile-menu"
    mat-icon-button
    [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <div *ngFor="let item of items">
      <button type="button" mat-menu-item (click)="navigateToMenuEntry(item)">
        <span>
          <mat-icon>{{ item.icon }}</mat-icon
          >{{ item.name }}
        </span>
      </button>
    </div>
  </mat-menu>
</mat-toolbar>
