.mat-toolbar {
  width: 100%;
  background-color: rgb(245, 245, 247);
}

span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.spacer {
  flex: 1 1 auto;
}


.mat-icon {
  color: rgb(255, 255, 255);
  font-weight: 100;
}

@media (min-width: 600px) {
  .mobile-menu {
    display: none;
  }
  span {
    color: rgb(109, 109, 109);
  }
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
}

.title {
  color: rgb(109, 109, 109);
  font-size: 16px;
  font-weight: 300;
  font-family: 'Roboto';
}
