span {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.spacer {
  flex: 1 1 auto;
}

@media (min-width: 600px) {
  .mobile-menu {
    display: none;
  }
}

@media (max-width: 600px) {
  .desktop-menu {
    display: none;
  }
}

.title {
  font-size: 20px;
  font-weight: 300;
  font-family: 'Roboto';
}

.desktop-menu {
  float: right;
}

.menu-button {
  font-family: 'Roboto', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 300;
  margin-left: 10px;
  font-size: 20px;
}

.main-menu {
  padding-top: 24px;
  padding-bottom: 24px;
}