.spacer{
	flex: 1 1 auto;
}

.mat-toolbar {
	margin: 0;
    background: linear-gradient(196deg, rgba(133, 78, 33, 0.597) 0%, rgb(61, 23, 8) 100%);
}

span {
	font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

.mat-icon {
	color: rgb(255, 255, 255);
    font-weight: 200;
}

@media (min-width: 600px) {
	.mobile-menu {
		display: none;
	}
}

@media (max-width: 600px) {
	.desktop-menu {
		display: none;
	}
}

.title {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
}

span {
	color: rgb(255, 255, 255);
	font-size: 16px;
	font-weight: 400;
}