<div class="row mb-5 mp-2" *ngIf="adjacentPosts | async as adjacentPosts">
  <div class="col-6">
    <mat-card *ngIf="adjacentPosts.get('previousPost')" matRipple class="col-12"
      (click)="navigateToPost(adjacentPosts.get('previousPost')!)">
      <mat-card-content class="p-4">
        <p class="mt-2 d-flex align-middle">
          <mat-icon>arrow_back</mat-icon>Previous
        </p>
        <h2>{{ adjacentPosts.get('previousPost')!.headline }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-6">
    <mat-card *ngIf="adjacentPosts.get('upcomingPost')" matRipple class="col-12"
      (click)="navigateToPost(adjacentPosts.get('upcomingPost')!)">
      <mat-card-content class="p-4">
        <p class="mt-2 d-flex align-middle">
          Up next<mat-icon>arrow_forward</mat-icon>
        </p>
        <h2>{{ adjacentPosts.get('upcomingPost')!.headline }}</h2>
      </mat-card-content>
    </mat-card>
  </div>
</div>