h2 {
    font-size: 28px !important; 
    padding-top: 0 !important;
    margin-top: 0 !important;
}

p {
    font-size: 18px !important;
}

.mat-mdc-card {
    background-color: rgb(248, 250, 253);
}

.mat-mdc-card:hover {
    cursor: pointer;
    background-color: rgb(201, 230, 251);
}