mat-icon {
  margin-left: 7px;
  color: white;
}

.back-button {
  position: fixed;
  margin-top: 240px;
  right: 5px;
  top: 20px;
  z-index: 2;
  background: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
}

@media (max-width: 800px) {
  .back-button {
    margin-top: 500px;
  }
}

h1 {
  text-align: center !important;
}
