<div class="full-container">
  <app-landing-title></app-landing-title>

  <div class="container d-flex flex-column col-lg-9 col-sm-12">
    <h1>Efficient Software Engineering</h1>
  </div>
  
  <app-post-list category="engineering" series="all"></app-post-list>
  
  <div class="container d-flex flex-column col-lg-9 col-sm-12">
    <h1>Angular Guides</h1>
  </div>
  
  <app-post-list category="course" series="all"></app-post-list>
  
  <div class="container d-flex flex-column col-lg-9 col-sm-12">
    <h1>Guides</h1>
  </div>
  
  <app-post-list category="guides" series="all"></app-post-list>
  
  <div class="container d-flex flex-column col-lg-9 col-sm-12">
    <h1>Recommendations</h1>
  </div>
  
  <app-post-list category="recommendations" series="all"></app-post-list>
  
  <div class="placeholder"></div>
</div>
