img {
  margin-bottom: -50px;
  width: 800px;
  border-radius: 10px 10px 0px 0px;
  margin-left: 0px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  color: rgb(185, 0, 0) !important;
  margin-bottom: 12px;
}

.mat-mdc-card {
  margin: auto;
  width: 800px !important;
  border-radius: 40px;
  line-height: 1.47059;
  color: #1d1d1f;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  font-weight: 500;
  border: None;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
  padding: 0px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.mat-mdc-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.mat-mdc-card-content {
  border-color: #000 transparent transparent transparent;
  border-radius: 99%/150px 150px 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 8px;
  height: flex;
  padding: 20px;
  position: relative;
  margin-top: -80px;
}

.section-wrapper {
  float: left;
}

.wrapper {
  float: left;
  margin-top: 4px;
}

.button-left {
  float: left;
  width: 10px !important;
  text-align: center;
  margin-right: 45px;
}

.button-right {
  float: left;
  width: 10px !important;
  text-align: center;
  margin-left: 5px;
}

.content {
  margin-top: 50px;
}

.date {
  padding: 0;
  width: calc(220px - 20px);
  margin: auto;
  text-align: center;
  font-size: 16px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(51, 51, 51) !important;
  font-weight: 300;
}

.full-date {
  margin-top: -50px;
}

.section {
  padding: 0;
  margin: 0;
  width: calc(290px - 20px);
  text-align: center;
  font-size: 24px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: rgb(51, 51, 51) !important;
  margin: auto;
  margin-top: 8px;
  font-weight: 300;
}

@media (max-width: 768px) {
  .mat-mdc-card {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: flex;
    padding: 150px;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    padding: 30px;
    font-weight: 500;
    color: #1d1d1f;
    letter-spacing: -0.022em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    letter-spacing: -0.022em;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: box-shadow 1s, margin-top 1s, width 1s, height 1s,
      transform 0.7s;
  }

  h1 {
    line-height: normal !important;
  }
}

.placeholder {
  height: 1px;
}
