img {
  height: 200px;
  width: 200px;
  transform: scale(0.7);
  margin-left: 300px;
  margin-bottom: -50px;
}

.mat-card {
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 800px;
  height: flex;
  padding: 150px;
  border-radius: 40px;
  line-height: 1.47059;
  -webkit-font-smoothing: antialiased;
  padding: 30px;
  font-weight: 400;
  color: #1d1d1f;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -.022em;
  border: None;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
  line-height: 1.47059;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
  letter-spacing: -.022em;
  border: None;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
}

.mat-card-image {
  // height: 200px;
  // width: 200px;
  // transform: scale(0.7);
  // margin-left: 25%;
  // margin-bottom: -50px;
}

@media(max-width: 768px) {
  .mat-card {
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    width: auto;
    height: flex;
    padding: 150px;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    padding: 30px;
    font-weight: 400;
    color: #1d1d1f;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.022em;
    border: None;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px !important;
    line-height: 1.47059;
    -webkit-font-smoothing: antialiased;
    font-weight: 400;
    font-family: SF Pro Text, SF Pro Icons, AOS Icons, Helvetica Neue, Helvetica, Arial, sans-serif;
    letter-spacing: -.022em;
    border: None;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
  }

  .mat-card-image {
    // height: 200px;
    // transform: scale(0.7);
    // margin-bottom: -50px;
  }
}

.mat-card:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: scale(1.005);
}

.mat-card-content {
  height: 100px;
  border-color: #000 transparent transparent transparent;
  border-radius: 95%/100px 100px 0 0;
  background: linear-gradient(196deg, rgb(255, 169, 99) 0%, rgb(255, 100, 39) 100%);
  padding: 10px;
  padding-bottom: 0px;
}

.mat-card-title {
  text-align: center;
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 300;
  text-align: justify;
  color: rgb(51, 51, 51) !important;
  margin-bottom: 12px;
}
