h3 {
  font-size: 24px;
  font-weight: 300;
}

.mat-mdc-card {
  font-weight: 500;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s;
}

.mat-mdc-card-content {
  border-radius: 99%/150px 150px 0 0;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  background: white;
  height: flex;
  position: relative;
  margin-top: -80px;
}

.placeholder {
  height: 1px;
}
