<div class="wrapper">
  <mat-card (click)="navigateToTopic('guides')">
    <h2 class="guides">🧑🏼‍💻</h2>
    <h1>Guides</h1>
    <p>Learn about software development and coding best practices.</p>
  </mat-card>
  <mat-card (click)="navigateToTopic('series')">
    <h2 class="series">☕️</h2>
    <h1>Series</h1>
    <p>Explore longer projects, panning across mutlipe posts.</p>
  </mat-card>
  <mat-card (click)="navigateToTopic('productivity')">
    <h2 class="productivity">⚙️</h2>
    <h1>Productivity</h1>
    <p>Take a look at a collection of posts beyond software development.</p>
  </mat-card>
</div>
