h1 {
  font-size: 48px !important;
  font-weight: 300 !important;
  margin-bottom: 4px;
  padding-top: 30px;
  padding-bottom: 0px;
  line-height: 125% !important;
  text-align: left;
  color: var(--text-color);
}

h2 {
  line-height: 150% !important;
  font-size: 38px !important;
  font-weight: 300 !important;
  margin-top: 20px !important;
  padding-top: 20px;
  margin-bottom: 5px !important;
  padding-bottom: 0px;
  color: var(--text-color);
}

h4 {
  padding-top: 10px !important;
  font-size: 18px !important;
  font-weight: 400 !important;
}

.mat-card-image {
  border-radius: 20px !important;
}

.post-image {
  padding-top: -43 !important;
  height: 80%;
  width: 100%;
}

.full-container {
  width: 100%;
  background-color: var(--background-color) !important;
  color: var(--text-color);
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

.mat-mdc-card {
  background-color: var(--menu-background-color);
  color: var(--text-color);
  font-weight: 500;
  box-shadow: none !important;
  transition:
    box-shadow 1s,
    margin-top 1s,
    width 1s,
    height 1s,
    transform 0.7s;
}

.placeholder {
  height: 1px;
}

.post {
  background-color: var(--background-color) !important;
}

.post {
  width: 100%;
}

.post-date {
  margin-top: 8px;
  margin-bottom: 16px;
}