h1 {
  font-size: 58px !important;
  font-weight: 400 !important;
  margin-bottom: 4px;
  padding-top: 30px;
  padding-bottom: 0px;
  line-height: 125% !important;
  text-align: left;
  color: var(--text-color);
}

h2 {
  line-height: 150% !important;
  font-size: 32px !important;
  font-weight: 400 !important;
  margin-top: 20px !important;
  padding-top: 20px;
  margin-bottom: 0 !important;
  padding-bottom: 5px;
  color: var(--text-color);
}

.mat-mdc-card {
  background-color: var(--menu-background-color);
  color: var(--text-color);
  font-weight: 500;
  box-shadow: none !important;
  transition:
    box-shadow 1s,
    margin-top 1s,
    width 1s,
    height 1s,
    transform 0.7s;
}

.placeholder {
  height: 1px;
}

.post {
  background-color: var(--background-color) !important;
}