<div class="full-container">
  <div class="container col-lg-6 col-sm-12 mt-5" *ngIf="post | async as post">
    <mat-card class="post">
      <img
        mat-card-image
        class="img-fluid"
        height="720"
        width="960"
        [src]="post.thumbnail"
        alt="Post's thumbnail" />
      <mat-card-content class="p-4">
        <h4 class="mt-1 mb-0">
          {{ post.date | date }}
        </h4>
        <markdown [src]="post.filePath"></markdown>
      </mat-card-content>
    </mat-card>
    <app-series-navigation *ngIf="post.seriesSection"></app-series-navigation>
    <app-post-navigation *ngIf="!post.seriesSection"></app-post-navigation>
  </div>
  <div class="placeholder"></div>
</div>
