@import './theme.scss';
@import '@angular/material';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

html,
body {
  height: 100%;
  background-color: rgb(255, 255, 255) !important;
}

h1 {
  font-size: 58px !important;
  font-weight: 400 !important;
  margin-bottom: 4px;
  padding-top: 30px;
  padding-bottom: 36px;
  line-height: 100% !important; 
  text-align: left;
}

h2 {
  line-height: 150%;
  font-size: 32px !important;
  font-weight: 400 !important;
  margin-top: 30px !important;
  padding-top: 60px;
  padding-bottom: 15px;
}

h3 {
  line-height: 150%;
  font-size: 28px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 4px;
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: rgb(51, 51, 51) !important;
  margin-bottom: 12px;
}

code {
  font-family: monospace !important;
  font-weight: normal !important;
  font-size: 18px !important;
  background-color: rgb(212, 212, 212) !important;
  border-radius: 5px;
  padding: 2px;
  padding-right: 6px;
  padding-left: 6px;
  color: rgb(51, 51, 51) !important;
}

ol {
  padding: 0px;
  margin-left: 24px;
  line-height: 175%;
  font-weight: 400;
  text-align: justify;
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
  font-size: 18px !important;
}

li {
  padding-left: 10px;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: 18px !important;
}

.separator {
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 0;
}

strong {
  font-weight: 500 !important;
}

b {
  font-weight: 500 !important;
}

a:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.full {
  width: calc(100% + 60px);
  padding: 0px !important;
  border-radius: 10px 10px 0px 0px;
}

.half-width {
  width: 50%;
  margin-top: 10px;
  margin-left: calc(50% / 2);
  border-radius: 10px;
}

.side-image {
  width: 30%;
  padding: 0px !important;
  margin-left: calc(75% / 2);
  border-radius: 10px;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  border: double 0.25px transparent;
  border-radius: 10px;
  background-image: linear-gradient(white, white),
    linear-gradient(to right, #c850c0, #ffcc70);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.almost-full-width {
  width: 100%;
  padding: 0px !important;
  border-radius: 20px;
  border: 0.1px solid rgb(240, 240, 240);
  margin-bottom: 12px;
}

.language-ts {
  padding: 0px;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(83, 82, 82) !important;
  font-size: 18px !important;
}

.language-shell {
  background-color: rgb(83, 82, 82) !important;
}

.language-css {
  background-color: rgb(83, 82, 82) !important;
}

.language-html {
  background-color: rgb(83, 82, 82) !important;
}

.keyword-this {
  font-family: monospace !important;
  font-weight: 100 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.token {
  font-family: monospace !important;
  font-weight: 100 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.punctuation {
  font-family: monospace !important;
  font-weight: 500 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.mat-mdc-card {
  border-radius: 20px !important;
  transition: box-shadow 1s, margin-top 1s, width 1s, height 1s, transform 0.7s !important;
  box-shadow: none;
}

img {
  border-radius: 20px;
}
