@use './theme.scss' as theme;
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

:root {
  --background-color: #ffffff;
  --text-color: rgb(28 27 29);
  --menu-background-color: rgb(241, 236, 238);
  --menu-background-color-active: rgb(220, 218, 243);
  --menu-text-color: rgb(28 27 29);
  --code-bg: rgb(212, 212, 212);
  --code-color: rgb(51, 51, 51);
  --separator-color: rgb(51, 51, 51);
}

.light-theme {
  --background-color: rgb(20, 19, 20);
  --text-color: rgb(229, 225, 227);
  --menu-background-color: rgb(33, 31, 33);
  --menu-background-color-active: rgb(69, 69, 88);
  --menu-text-color: rgb(229, 225, 227);
  --code-bg: rgb(60, 60, 60);
  --code-color: rgb(229, 225, 227);
  --separator-color: rgb(229, 225, 227);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

h1,
h2,
h3,
p,
ol,
li {
  color: var(--text-color);
}

p,
ol,
li {
  line-height: 1.75;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 12px;
}

ol {
  margin-left: 24px;
  font-size: 18px;
}

.placeholder {
  height: 20px !important;
}

h1 {
  font-weight: 300 !important;
  color: var(--text-color);
}

h3 {
  line-height: 150%;
  font-size: 28px;
  font-weight: 300;
  margin-top: 30px;
  margin-bottom: 4px;
  color: var(--text-color);
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 12px;
  color: var(--text-color);
}

.container {
  margin: 0 auto;
  padding: 32px 16px;
}

code {
  font-family: monospace !important;
  font-weight: normal !important;
  font-size: 14px !important;
  background-color: rgb(212, 212, 212) !important;
  border-radius: 5px;
  padding: 2px 6px;
  color: rgb(51, 51, 51) !important;
}

.separator {
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 0;
}

a:hover {
  text-decoration: underline;
}

.full-width {
  width: 100%;
  margin-bottom: 16px;
}

.full {
  width: calc(100% + 60px);
  padding: 0px !important;
  border-radius: 10px 10px 0px 0px;
}

.half-width {
  width: 50%;
  margin-top: 10px;
  margin-left: calc(50% / 2);
  border-radius: 10px;
}

.side-image {
  width: 30%;
  padding: 0px !important;
  margin-left: calc(75% / 2);
  border-radius: 10px;
  float: right;
  margin-top: 10px;
  margin-left: 20px;
  border: double 0.25px transparent;
  border-radius: 10px;
  background-image:
    linear-gradient(white, white), linear-gradient(to right, #c850c0, #ffcc70);
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.almost-full-width {
  width: 100%;
  padding: 0px !important;
  border-radius: 20px;
  border: 0.1px solid rgb(240, 240, 240);
  margin-bottom: 12px;
}

.language-ts {
  padding: 0px;
  color: rgb(255, 255, 255) !important;
  background-color: rgb(83, 82, 82) !important;
  font-size: 14px !important;
}

.language-shell {
  background-color: rgb(83, 82, 82) !important;
}

.language-css {
  background-color: rgb(83, 82, 82) !important;
}

.language-html {
  background-color: rgb(83, 82, 82) !important;
}

.keyword-this {
  font-family: monospace !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.token {
  font-family: monospace !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.punctuation {
  font-family: monospace !important;
  font-weight: normal !important;
  font-size: 14px !important;
}

.mat-mdc-card {
  border-radius: 20px !important;
  transition:
    box-shadow 1s,
    margin-top 1s,
    width 1s,
    height 1s,
    transform 0.7s !important;
  box-shadow: none;
}

img {
  width: 100%;
  border-radius: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 16px;
  margin: 1em 0;
}

th,
td {
  border: 1px solid #ccc;
  padding: 12px 16px;
  text-align: left;
}

th {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tr:hover {
  background-color: #f0f8ff;
}
