@import './theme.scss';
@import '@angular/material';
:post
  * {
    padding: 0;
    margin: 0;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  body {
    margin: 0;
    padding: 0;
  }

  html,
  body {
    background-color: rgba(245, 245, 247, 1);
    height: 100%;
  }

  h1 {
    line-height: 300%;
    font-size: 46px;
    font-weight: 300;
    margin-top: 12px;
    margin-bottom: 4px;
    color: rgb(62, 72, 77);
    text-align: center;
    line-height: normal;
    background: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  h2 {
    line-height: 150%;
    font-size: 32px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 4px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  h3 {
    line-height: 150%;
    font-size: 28px;
    font-weight: 300;
    margin-top: 30px;
    margin-bottom: 4px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  p {
    line-height: 175%;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: rgb(51, 51, 51);
    margin-bottom: 12px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  .separator {
    border-bottom: 1px solid rgb(51, 51, 51);
    margin: 0;
  }

  .mat-card {
    width: 300px;
    border: 3px;
  }

  @media (min-width: 680px) {
    .mat-card {
      width: 300px;
      border: 3px;
    }
  }

  @media (max-width: 680px) {
    .card-button-container {
      width: 80%;
      margin: auto;
    }
  }

  @media (min-width: 680px) {
    .card-button-container {
      width: 550px;
      margin: auto;
    }
  }

  @media (max-width: 768px) {
    h1 {
      margin-top: 30px;
      margin-bottom: 10px;
      line-height: normal !important;
    }

    .mat-card {
      width: 80%;
      margin-top: 0px !important;
    }
  }
  .mat-raised-button {
    padding: 0;
  }

  .full-width {
    width: 100%;
  }

  .small-space {
    margin: 20px;
  }

  .normal-space {
    margin: 50px;
  }

  .whitespace {
    margin: 50px;
  }

  .whitespace-tiny {
    margin: 5px;
  }

  .mat-fab-container {
    margin-top: -45px;
    margin-left: -48px;
    position: absolute;
  }

  body {
    background: white;
    background: rgb(131, 58, 180);
    background-color: rgba(245, 245, 247, 1);
  }

  .full {
    width: calc(100% + 60px);
    padding: 0px !important;
    margin: -30px;
    border-radius: 10px 10px 0px 0px;
  }

  .half-width {
    width: 25%;
    padding: 0px !important;
    margin-left: calc(75% / 2);
    border-radius: 10px 10px 10px 10px;
    float:right;
    margin-top: 25px;
    margin-left: 20px;
    border: double 0.25px transparent;
    border-radius: 10px;
    background-image: linear-gradient(white, white), 
                      linear-gradient(to right, #C850C0, #FFCC70);
    background-origin: border-box;
    background-clip: content-box, border-box;

  }

  .right {
    float:right;
    margin-top: 25px;
    margin-left: 20px;
    margin-right: 0px;
  }

  .left {
    float:left;
  }

  .three-quarter-width {
    width: 75%;
    padding: 0px !important;
    margin: 10px;
    margin-left: calc(25% / 2);
    border-radius: 10px 10px 10px 10px;
    border: 0.5px solid gray;
  }

  .almost-full-width {
    width: 100%;
    padding: 0px !important;
    border-radius: 10px 10px 10px 10px;
    border: 0.5px solid gray;
  }

  code {
    font-family: monospace !important;
    font-weight: 500 !important;
    font-weight: normal !important;
    font-size: 16px !important;
    background-color: rgb(212, 212, 212) !important;
    border-radius: 5px;
    padding: 2px;
    padding-right: 6px;
    padding-left: 6px;
  }

  ol {
    padding: 0px;
    margin-left: 24px;
    line-height: 175%;
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    color: rgb(51, 51, 51);
    margin-bottom: 12px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
  }

  li {
    padding-left: 10px;
    margin-bottom: 10px;
    font-weight: 300;
  }

  .language-ts {
    padding: 0px;
    background-color: rgb(83, 82, 82) !important;
    font-size: 18px !important;
  }

  .language-shell {
    background-color: rgb(83, 82, 82) !important;
  }

  .language-css {
    background-color: rgb(83, 82, 82) !important;
  }

  .language-html {
    background-color: rgb(83, 82, 82) !important;
  }

  .keyword-this {
    font-family: monospace !important;
    font-weight: 100 !important;
    font-weight: normal !important;
    font-size: 18px !important;
  }

  .token {
    font-family: monospace !important;
    font-weight: 100 !important;
    font-weight: normal !important;
    font-size: 18px !important;
  }

  .punctuation {
    font-family: monospace !important;
    font-weight: 500 !important;
    font-weight: normal !important;
    font-size: 18px !important;
  }
