@import './theme.scss';
@import '@angular/material';

* {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

html,
body {
  background-color: rgba(245, 245, 247, 1);
  height: 100%;
}

h1 {
  line-height: 300%;
  font-size: 46px;
  font-weight: 600;
  margin-top: 12px;
  margin-bottom: 4px;
  color: rgb(62, 72, 77);
  text-align: center;
}

@media(max-width: 768px) {
  h1 {
    margin-top: 30px;
    margin-bottom: 10px;
    line-height: normal !important;
  }

  .mat-card {
    width: 80%;
    margin-top: 0px !important;
  }

  img {
    border-radius: 0px !important;
  }
}

h2 {
  line-height: 150%;
  font-size: 32px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 4px;
  color: rgb(62, 72, 77);
}

h3 {
  line-height: 150%;
  font-size: 24px;
  font-weight: 600;
  margin-top: 30px;
  margin-bottom: 4px;
  color: rgb(62, 72, 77);
}

p {
  line-height: 175%;
  font-size: 18px;
  font-weight: 500;
  text-align: justify;
  color: rgb(51, 51, 51);
  margin-bottom: 12px;
}

.separator {
  border-bottom: 1px solid rgb(51, 51, 51);
  margin: 0;
}

@media (min-width: 680px) {
  .mat-card {
    width: 300px;
    border: 3px;
  }
}

@media (max-width: 680px) {
  .card-button-container {
    width: 80%;
    margin: auto;
  }
}

@media (min-width: 680px) {
  .card-button-container {
    width: 550px;
    margin: auto;
  }
}

.mat-raised-button {
  padding: 0;
}

.full-width {
  width: 100%;
}

.small-space {
  margin: 20px;
}

.normal-space {
  margin: 50px;
}

.whitespace {
  margin: 50px;
}

.whitespace-tiny {
  margin: 5px;
}

.mat-fab-container {
  margin-top: -45px;
  margin-left: -48px;
  position: absolute;
}

body {
  background: white;
  background: rgb(131, 58, 180);
  background-color: rgba(245, 245, 247, 1);
}


.full {
  width: calc(100% + 60px);
  padding: 0px !important;
  margin: -30px;
  border-radius: 10px 10px 0px 0px;
}

.half-width {
  width: 50%;
  padding: 0px !important;
  margin: 10px;
  margin-left: calc(50%/ 2);
  border-radius: 10px 10px 10px 10px;
}

.three-quarter-width {
  width: 75%;
  padding: 0px !important;
  margin: 10px;
  margin-left: calc(25% / 2);
  border-radius: 10px 10px 10px 10px;
  border: 1px solid gray;
}

.almost-full-width {
  width: 100%;
  padding: 0px !important;
  border-radius: 10px 10px 10px 10px;
  border: 1px solid gray;
}

code {
  font-family:  monospace !important;
  font-weight: 500 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.language-ts {
  background-color: rgb(83, 82, 82) !important;
}

.language-shell {
  background-color: rgb(83, 82, 82) !important;
}

.language-css {
  background-color: rgb(83, 82, 82) !important;
}

.language-html {
  background-color: rgb(83, 82, 82) !important;
}

.keyword-this {
  font-family:  monospace !important;
  font-weight: 500 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.token {
  font-family:  monospace !important;
  font-weight: 500 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}

.punctuation {
  font-family:  monospace !important;
  font-weight: 500 !important;
  font-weight: normal !important;
  font-size: 18px !important;
}