button {
  font-size: 10px;
  font-weight: 400 !important;
  background-color: var(--menu-background-color);
  color: var(--menu-text-color) !important;
}

.mat-sidenav {
  position: fixed;
  background-color: var(--menu-background-color);
  color: var(--menu-text-color);
  transition: background-color 0.3s, color 0.3s;
  width: 125px;
  border: none;

  .mat-icon {
    font-size: 30px;
  }
}

.active {
  background-color: var(--menu-background-color-active);
  color: var(--menu-text-color);
}

.side-button {
  width: 100%;
  height: 100px;
}

.w-100 {
  width: 100%;
}

.mat-sidenav-content {
  background-color: var(--background-color);
}

.minimize-button {
  position: fixed;
  bottom: 0 + 100px;
  left: 33px;
  box-shadow: none;
  border: 0.25px solid gray;
  z-index: 10;

  .mat-icon {
    font-size: 24px;
  }

  background-color: var(--menu-background-color);
}

.icon-container {
  width: 100%;
}

.mat-icon {
  color: var(--menu-text-color) !important;
}

.theme-button {
  position: fixed;
  bottom: 0 + 20px;
  left: 33px;
  box-shadow: none;
  border: 0.25px solid gray;
  z-index: 10;
  background-color: var(--menu-background-color);

  .mat-icon {
    font-size: 24px;
  }
}

.mobile-menu {
  background-color: var(--menu-background-color);
}

.menu-sidenav-container {
  height: 100vh;
}

.active {
  background-color: var(--menu-background-color-active);
  color: var(--menu-text-color);
}
