.mat-sidenav {
  background-color: rgb(244, 246, 251);
  width: 125px;
  border: none;

  .mat-icon {
    font-size: 30px;
  }
}

.mat-icon {
  color: rgba(80, 80, 80);
}

.active {
  background-color: rgb(201, 230, 252);
  color: black;
  .mat-icon {
    color: black;
  }
}

button {
  font-size: 10px;
  font-weight: 400 !important;
}

.mat-sidenav-content {
  background-color: rgb(255, 255, 255) !important;
}

.minimize-button {
  position: fixed;
  bottom: 0 + 20px;
  left: 30px;
  background-color: white;
  box-shadow: none;
  border: 0.25px solid gray;

  .mat-icon {
    font-size: 24px;
  }
}
