<app-page-title [pageTitle]="pageTitle"></app-page-title>

<div class="container d-flex flex-column col-lg-6 col-sm-12 mt-4">
  <mat-card class="p-4">
    <div>
      <h1>Key Interests</h1>
      <img
        src="./assets/images/profile.jpeg"
        class="img-fluid"
        alt="The author's profile image" />
      <p>
        I'm Jan, working as a full-stack software engineer, and I've collected
        quite some experience with <span>Typescript</span>, <span>Python</span>,
        and <span>Kotlin</span>. Currently, I am particularly focused on
        <span>Angular</span> and RxJS, striving for clean, well-tested code.
      </p>
      <p>
        While I enjoy working with the web technology stack a lot, I am
        increasingly drawn towards specializing in
        <span>artificial intelligence</span> and its corresponding Python stack,
        especially <span>Tensorflow</span>. So, you may see more posts
        forcussing on AI-related topics in the near future.
      </p>
      <p>
        Irrespective of the technology I work with, I strive to write elegant
        code, that is easy to understand and extend. Ultimately, every great
        piece of software gets written by a great team, with members that all
        bring in their unique abilities and styles. I am enthusiastic about
        learning, sharing, and discussing approaches to achieve outstanding
        outcomes.
      </p>
      <h1>My Journey</h1>
      <p>
        I was born in 1993 and raised in a small village in the center of
        Germany. Since there weren't many activities available, I developed an
        interest in technology and coding fairly early on. After completing high
        school, I made the decision to study information systems at the
        University of Münster, which offered an excellent program combining
        elements of computer science and business administration.
      </p>
      <p>
        Following my bachelor's degree, I was a bit indecisive whether to switch
        to computer science or not. However, I ultimately chose a rather
        unconventional combination of subjects reaching deep into computer
        science on one hand and advanced finance topics on the other. This
        choice allowed me to pursue a master's degree in information systems
        while getting expose to the best of two fields. As part of my master's
        studies, I had the opportunity to study abroad in the charming yet
        modest city of Kristiansand, Norway, as well as the bustling metropolis
        of Madrid, Spain.
      </p>
      <p>
        I completed my university education in 2019 and opted to gain experience
        in the financial industry. I began with a trainee programme and
        subsequently worked as an software engineer. Since then, I've made
        significant strides in enhancing my software development skills,
        accumulated experience working in an international environment, and
        contributed to a diverse array of applications.
      </p>
    </div>
    <app-links></app-links>
  </mat-card>
</div>
<div class="placeholder"></div>
