p {
  line-height: 175%;
  text-align: justify;
  font-weight: 300;
}

span {
  font-weight: 400;
}

img {
  margin-top: 10px;
  margin-left: 20px;
  float: right;
  width: 39%;
}

.mat-mdc-card {
  box-shadow: none;
  transition:
    box-shadow 1s,
    margin-top 1s,
    width 1s,
    height 1s,
    transform 0.7s;
}

.post {
  background-color: var(--background-color) !important;
}