h1 {
  font-size: 48px !important;
  font-weight: 300 !important;
  margin-bottom: 4px;
  padding-top: 30px;
  padding-bottom: 0px;
  line-height: 125% !important;
  text-align: left;
  color: var(--text-color);
}

img {
  margin-top: 10px;
  margin-left: 20px;
  float: right;
  width: 39%;
}

.full-container {
  width: 100%;
  background-color: var(--background-color) !important;
  color: var(--text-color);
  max-width: 1200px;
  margin: 40px auto 0 auto;
}

.mat-mdc-card {
  background-color: var(--background-color) !important;
  box-shadow: none;
  transition: box-shadow 1s,
  margin-top 1s,
  width 1s,
  height 1s,
  transform 0.7s;
  margin: 40px auto 0 auto;
}

.post {
  background-color: var(--background-color) !important;
}
