mat-icon {
  color: white;
}

.filter-button {
  margin-top: 100px;
  color: rgb(109, 109, 109);
  margin-right: 16px;
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

.close-button {
  position: absolute;
  margin-top: 140px;
  right: 5px;
  top: 20px;
  z-index: 2;
}