.mat-mdc-card {
  width: calc(100% - 200px);
  background-color: rgb(245, 245, 247);
  border-radius: 0%;
  box-shadow: none;
}

button {
  color: rgb(109, 109, 109);
  margin-right: 16px;
}

.mat-mdc-chip:hover {
  cursor: pointer;
}

.mat-mdc-button {
  float: right;
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}